* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: #00aeff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-size: 24px;
  color: #00608c;
  line-height: 1em;
  padding: 0 10px;
}

h3 {
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding-left: 5%;
  padding-right: 5%;
}

.no-padding {
  padding:0 !important;
}

.date-text {
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  margin-left: 9px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-indent: 14px;
}

#skillsH3 {
  color: #00aeff;
  display: none;
}

.blue {
  background-color: #00aeff;
}

.dark {
  background-color: #1f1f1f;
}

.dark-blue {
  color: #00608c;
}

.orange-text {
  color: #00aeff;
}

.white-text {
  color: #fff;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #1f1f1f;
}

.gray {
  background-color: #fff;
  padding: 20px 0;
  clear:both;
  border-bottom: 1px solid #cecac3;
}

.dark-gray {
  background-color: #404040;
}

.current-title {
  display: inline-block;
}

/* TODO: Replace with image later */
#header {
  background: rgba(82,80,75,1);
  background: -moz-linear-gradient(top, rgba(82,80,75,1) 0%, rgba(26,23,15,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82,80,75,1)), color-stop(100%, rgba(26,23,15,1)));
  background: -webkit-linear-gradient(top, rgba(82,80,75,1) 0%, rgba(26,23,15,1) 100%);
  background: -o-linear-gradient(top, rgba(82,80,75,1) 0%, rgba(26,23,15,1) 100%);
  background: -ms-linear-gradient(top, rgba(82,80,75,1) 0%, rgba(26,23,15,1) 100%);
  background: linear-gradient(to bottom, rgba(82,80,75,1) 0%, rgba(26,23,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52504b', endColorstr='#1a170f', GradientType=0 );
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.flex-box-skills {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px 20px 10px 0;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

#footerContacts {
  background-color: #1f1f1f;
  padding: 20px 0;
  clear:both;
  border-bottom: 1px solid #f1eee8;
}

.map-padding {
  padding-bottom: 15px;
}

.skills-glance-indent {
  text-indent: 14px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  font-size: 13px;
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

.connect-padding {
  padding: 20px 0;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  margin: 0 0 56px 0;
  padding: 20px 0;
  overflow: visible;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
    display: block;
  }
}

@media only screen and (min-width: 751px) {
  .biopic {
    width: 175px;
    display: block;
  }
}

@media only screen and (min-width: 500px) {
  #skillsH3 {
    display: block;
  }
  .welcome-message {
    display: block;
  }
}

@media only screen and (max-width: 499px) {
  #skillsH3 {
    display: none;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .biopic {
    width: 150px;
    display: none;
  }
